name: Build Lunati Debian package

on:
  workflow_dispatch:

jobs:
  build-deb:
    name: Build .deb for Debian
    runs-on: ubuntu-latest # Using GitHub's free runner
    container:
      image: debian:latest
    permissions:
      contents: write
    steps:
        
        # Step 1: Setup Caching to speed up future builds
      - name: Setup Cache
        uses: actions/cache@v4
        with:
          path: .ccache
          key: ${{ runner.os }}-deb-ccache-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-deb-ccache-

      # Step 2: Build Lunati inside Docker container (Official Environment)
      - name: Build Lunati
        run: |
          apt-get update
          apt-get install -y tree git g++ make libc6-dev cmake libpng-dev libjpeg-dev libgl1-mesa-dev libsqlite3-dev libogg-dev libvorbis-dev libopenal-dev libcurl4-gnutls-dev libfreetype6-dev zlib1g-dev
          git clone --depth 1 https://github.com/safwanehfaz/luanti.git
          cd luanti
          cmake . -DBUILD_SERVER=TRUE -DBUILD_CLIENT=FALSE -DCMAKE_BUILD_TYPE=Release -DRUN_IN_PLACE=TRUE
          make -j$(nproc) || exit 1
          if [ ! -x ./bin/luanti ]; then
              echo 'luanti binary not found or not executable!'
              exit 127
          fi
         ./bin/luanti --run-unittests
      
      # Step 4: Pack the files into a .deb archive
      - name: Build .deb File
        run: |
          sudo apt-get install -y fakeroot
          fakeroot dpkg-deb --build --root-owner-group pkgroot lunati-latest.deb

      # Step 5: Upload the final .deb file as an artifact
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: lunati-deb
          path: lunati-latest.deb